language: php

php:
  - 7.1
  - 7.2
  - 7.3
  - nightly

matrix:
  allow_failures:
    - php: nightly

before_script:
  - composer self-update || true
  - composer update
  - composer --prefer-source --dev install

script:
  - ./vendor/bin/phpcs -p --standard=./phpcs.xml --extensions=php --warning-severity=0 src/ tests/
  - php -ddate.timezone=Europe/Paris ./vendor/bin/atoum +verbose

