name: PHP Composer

on: 
  push:
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: PHP ${{ matrix.php }} on ${{ matrix.os }}
    strategy: 
      matrix:
        os: [ubuntu-20.04]
        php: [7.1, 7.2, 7.3, 7.4]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: curl, mbstring
          coverage: xdebug
          tools: composer

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "::set-output name=dir::$(composer config cache-files-dir)"

      - name: Cache dependencies
        uses: actions/cache@v1
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install Composer dependencies
        run: composer update --prefer-stable --no-interaction

      - name: PHP CS
        run: ./vendor/bin/phpcs -p --standard=./phpcs.xml --extensions=php --warning-severity=0 src/ tests/

      - name: PHP Unit Tests
        run: php -ddate.timezone=Europe/Paris ./vendor/bin/atoum +verbose

